<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">

<head>
    <meta charset="UTF-8">
    <title>Lista telefonica</title>
    <link rel="stylesheet" href="../Arquivos/bootstrap-4/css/bootstrap.css">
    <style>
        .jumbotron {
            width: 400px;
            text-align: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }
        .table {
            margin-top: 20px;
        }
        .table td {
            text-align: left;
        }
        .form-control {
            margin-bottom: 10px;
            width: 100%;
        }
    </style>
    
    <!-- javascript -->
    <script src="../Arquivos/angular-1.6.6/angular.js"></script>
    <script>
        angular.module("listaTelefonica", []);
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope){
            $scope.app = "lista telefonica";
            $scope.contatos = [
                {nome: "Pedro", telefone: "99994444"},
                {nome: "Lucas", telefone: "99992222"},
                {nome: "Mario", telefone: "99997777"}
            ];
            $scope.operadoras = [
                {nome: "oi", codigo: 14, categoria: "celular"},
                {nome: "claro", codigo: 11, categoria: "celular"},
                {nome: "tim", codigo: 41, categoria: "celular"},
                {nome: "vivo", codigo: 15, categoria: "fixo e celular"}
            ];
            $scope.addContato = function(contato) {
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato;
            };
        });
    </script>
</head>

<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
        <h3 ng-bind="app"></h3>
        <table class="table table-striped">
          <tr>
              <th>Nome</th>
              <th>Telefone</th>
              <th>Operadora</th>
          </tr>  
          <tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos">
              <td>{{contato.nome}}</td>
              <td>{{contato.telefone}}</td>
              <td>{{contato.operadora.nome}}</td>
          </tr>
        </table>
        <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome"/>
        <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone"/>
        <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras">
            <option value="">Selecione uma operadora</option>
        </select>
        <button class="btn btn-primary btn-block" ng-click="addContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar contato</button>
    </div>
    <p></p>
</body>

</html>
